/* Coolors Exported Palette - coolors.co/2c363f-e75a7c-f2f5ea-d6dbd2-bbc7a4 */

/* HSL */
$color1: hsla(208%, 18%, 21%, 1);
$color2: hsla(346%, 75%, 63%, 1);
$color3: hsla(76%, 35%, 94%, 1);
$color4: hsla(93%, 11%, 84%, 1);
$color5: hsla(81%, 24%, 71%, 1);

/* RGB */
$color1: rgba(44, 54, 63, 1);
$color2: rgba(231, 90, 124, 1);
$color3: rgba(242, 245, 234, 1);
$color4: rgba(214, 219, 210, 1);
$color5: rgba(187, 199, 164, 1);